* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-image: url(Freebie-DarkGrungeTextures-Preview-03.webp);
}

h1{
    color: seashell;
    text-align: center;
    margin-top: 2em;
}

.container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 4em 2em;
    border-radius: 1em;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

.section-container {
    display: flex;
    gap: 1em;
    justify-content: center;
}

.btn {
    padding: 1em 2em;
    border-radius: 0.5em;
    background-color:transparent;
    color: #eaeaec; /* Preto */
}

.btn-focus {
    background-color: transparent; /* Branco */
    color: #ffffff; /* Vermelho */
    transition: 1.5s;
}

.btn-focus:hover{
    background-color: #e5e1eb;
    color: #ffffff;
}

.input-time-container{
    display: flex;
    gap: 3px;
    margin: 20px;
}

.time-btn-container {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

#time {
    text-align: center;
    color: #ffffff; /* Branco */
    font-size: 5em;
    font-weight: 600;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 2em;
}

#input-time {
    padding: 0.5em 1em;
    border-radius: 0.5em;
    border: none;
    outline: none;
}

#btn-set-time {
    padding: 0.5em 1em;
    border-radius: 0.5em;
    color: #050505; /* Preto */
    background-color: #ffffff; /* Branco */
    cursor: pointer;
}

#btn-reset {
    background-color: transparent;
    border: none;
    outline: none;
    color: #ffffff; /* Branco */
    font-size: 2em;
}

.hide {
    display: none;
}

.show {
    display: block;
}

#btn-start, #btn-pause, #btn-reset{
    background: transparent;
    color: white;
}
